@model IEnumerable<WebApp9.Models.UserProfileViewModel>

@{
    ViewData["Title"] = "Index";
}
<h2>dATA sUCCESSfULLY aDDED</h2>

<h1>User List</h1>
<p><a asp-action="Create" class="btn btn-success">Create New</a></p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Full Name</th>
            <th>Age</th>
            <th>Bio</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.UserEmail</td>
            <td>@item.Password</td>
            <td>@item.UserFullName</td>
            <td>@item.Age</td>
            <td>@item.Bio</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
